[Desktop Entry]
Terminal=false
Type=Application
Name=ConfuciusQuotes
Exec=mycroft-gui-app --hideTextInput --skill=skill-confucius.jarbasskills.home
Icon=icon.png
Categories=VoiceApp
StartupNotify=false
X-DBUS-StartupType=None
X-KDE-StartupNotify=false